.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.input {
  width: 70%;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #1e1e1e;
  color: white;
  outline: none;
}

.searchButton {
  padding: 15px 20px;
  font-size: 1rem;
  background-color: #1db954; /* Spotify green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #1ed760; /* Slightly lighter green */
  transform: scale(1.05); /* Subtle hover effect */
  transition: all 0.3s ease;
}